.personal-photo {
  justify-items: center;
  width: 100px;
  height: 100px;
  border-radius: 16px;
}

.btn-holder {
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.btn-logo1 {
  padding-left: 45%;
  margin: 0;
}
.btn-logo2 {
  padding-left: 43%;
  margin: 0;
}
.btn-logo3 {
  padding-left: 46%;
  margin: 0;
}

.version {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.version-text {
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .btn-logo1 {
    padding-left: 16px;
  }
  .btn-logo2 {
    padding-left: 16px;
  }
  .btn-logo3 {
    padding-left: 16px;
  }
}
