.btnBack {
    position: relative;
    left: -60px;
    top: 45px;
    margin-top: -45px;
}

@media only screen and (min-width: 0) and (max-width: 780px) {
    .btnBack {
        display: none;
    }
}