.form-container {
  max-width: 500px;
  margin: 25px;
}

.input-field {
  border-radius: 16px !important;
  height: 48px;
}

.text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.password-holder {
  display: flex;
  flex-direction: row;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 16px !important;
  align-items: center;
  height: 48px;
}

.password-input {
  flex-grow: 2;
  border: none;
  width: 100%;
}

.password-input:focus {
  outline: none;
}

.password-toggler {
  border: none;
  background: none;
}

.toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #7126b5;
  border: none;
  font-weight: 700;
  padding: 0.15rem 1.5rem;
  text-decoration: none;
}

.button-submit {
  width: 100%;
  height: 48px;
  border-radius: 16px;
  background-color: #7126b5 !important;
  border: none !important;
}

.error-text {
  color: #b40e0e;
}
