.loading-upload-data {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form-style {
    min-height: 48px !important;
    width: 100% !important;
    min-width: 100%;
    border-radius: 16px !important;
}

.refresh-button {
    border-radius: 8px;
    /* border: 2px solid #f6a833; */
    border: none;
    background-color: rgb(35, 192, 35);
    /* height: 48px; */
    color: white;
    font-weight: 500;
    padding: 5px 10px;
}

.btn-decision {
    border-radius: 16px !important;
    border: none !important;
    background-color: #f6a833 !important;
    color: white;
    width: 100%;
    height: 48px;
    font-weight: 500;
    padding: 5px 20px;
}

.btn-decision:hover {
    background-color: #f6a833;
    color: #ffffff;
}

/* Dropzone File Start */

.profile-photo {
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    border: #eee solid 2px;
    border-radius: 100px;
    object-fit: cover;
}

/* .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* Dropzone File End */