/* Modal Start */
.modal-size {
  width: 100% !important;
  max-width: 350px !important;
}

.modal-centered {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-style {
  border-radius: 8px !important;
}

.password-holder {
  display: flex;
  flex-direction: row;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 16px !important;
  align-items: center;
  height: 48px;
}

.password-input {
  flex-grow: 2;
  border: none;
  width: 100%;
}

.password-input:focus {
  outline: none;
}

.password-toggler {
  border: none;
  background: none;
}