.transaction-card {
    /* background-color: rgb(223, 0, 0); */
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 15%);
}

.flex-condition {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.btnDecision {
    border-radius: 50px;
    border: 2px solid #f6a833;
    background-color: rgb(255, 255, 255);
    color: #f6a833;
    width: 100%;
    font-weight: 500;
    padding: 5px 20px;
}

.btnDecision:hover {
    border-radius: 50px;
    border: 2px solid #f6a833;
    background-color: #f6a833;
    color: #ffffff;
}

.product-image {
    width: 100%;
    height: 100%;
    min-height: 120px;
    object-fit: cover;
    border-radius: 12px;
}

/* Modal Start */

.modal-size {
    max-width: 350px !important;
}

.modal-centered {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-style {
    border-radius: 16px !important;
    
}

.match-product-detail {
    width: 100%;
    height: fit-content;
    background-color: #EEEEEE;
    border-radius: 16px;
    padding: 14px;
}





.modal-button-action {
    border-radius: 16px !important;
    border: none !important;
    background-color: #f6a833 !important;
    color: #ffffff;
    width: 100%;
    height: 48px !important;
    font-weight: 500;
    padding: 5px 20px;
}

/* Modal End */


@media (max-width: 400px) {
    .btnDecision {
        width: 100%;
    }

    .button-action {
        flex-wrap: wrap;
    }
}


@media (max-width: 200px) {
    .flex-condition {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: max-content;
    }
}