.loading-upload-data {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-image-layer {
  width: 100%;
  height: 300px;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-upload-background {
  border-radius: 4px;
  border: none;
  background-color: #fff;
  color: black;
  padding: 2px 8px;
  font-weight: bold;
}

.edit-background {
  position: absolute;
  top: 75px;
  right: 10px;
  display: flex;
  align-items: center;
  color: black;
  background-color: white;
  border: none;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 4px;
}

.btn-bg {
  margin-top: 15px;
  border: none;
  background-color: #f6a833;
  border-radius: 5px;
  padding: 5px 20px;
  width: 100%;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  max-width: 700px;
  min-height: 200px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 7px -3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 4px 7px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 7px -3px rgba(0, 0, 0, 0.3);
}

.profile-picture {
  display: block;
  width: 80px;
  height: 80px;
  object-fit: cover;
  min-height: max-content;
  max-height: max-content;
  max-width: 140px;
}

.ellipsis-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.action-edit-button {
  min-width: max-content;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  padding: 4px 9px;
}

.action-edit-button:hover {
  border: 1px solid #eee;
  background-color: #eee;
}

.account-setting-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
  padding: 0;
}

/* Modal Start */
.modal-size {
  width: 100% !important;
  max-width: 350px !important;
}

.modal-centered {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.modal-style {
  border-radius: 8px !important;
}

.account-setting-item {
  display: flex;
  align-items: center;
  max-height: 40px;
  cursor: pointer;
  padding: 5px;
  margin: 5px 0px;
}

.account-setting-item:hover {
  background-color: #eee;
  border-radius: 4px;
}

.password-holder {
  display: flex;
  flex-direction: row;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  border-radius: 16px !important;
  align-items: center;
  height: 48px;
}

.password-input {
  flex-grow: 2;
  border: none;
  width: 100%;
}

.password-input:focus {
  outline: none;
}

.password-toggler {
  border: none;
  background: none;
}
