/* Carousell Start */

.image-carousell {
    /* height: fit-content; */
    height: 400px;
    background-color: #ffffff;
}

/* Carousell End */

/* Share Product Start */

.share-product {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* overflow-x: auto; */
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 16px;
}

.share-product::-webkit-scrollbar {
    width: 0;
}

.share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 100px;
    color: white;
    font-weight: 500;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
}

/* Share Product End */

/* Detail Product Card Start */

.detail-product-card {
    width: 100%;
    height: fit-content;
    border-radius: 16px !important;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.description-card {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px !important;
}

.btn-decision {
    width: 100% !important;
    min-height: 48px;
    height: fit-content;
    border-radius: 16px;
    border: 2px solid #f6a833;
    background-color: #f6a833;
    color: white;
    width: 158px;
    font-weight: 500;
    /* padding: 5px 20px; */
}

.btn-decision:hover {
    background-color: white;
    color: #f6a833;
}

.secondary-text-color {
    color: #f6a833 !important;
}

/* Detail Product Card End */

/* Modal Start */

.modal-size {
    max-width: 350px !important;
}

.modal-centered {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-style {
    border-radius: 16px !important;
}

.match-product-detail {
    width: 100%;
    height: fit-content;
    background-color: #EEEEEE;
    border-radius: 16px;
    padding: 14px;
}

.modal-button-action {
    border-radius: 16px !important;
    border: none !important;
    background-color: #f6a833 !important;
    color: #ffffff;
    width: 100%;
    height: 48px !important;
    font-weight: 500;
    padding: 5px 20px;
}

.input-price {
    border-radius: 16px !important;
    height: 48px;
}

/* Modal End */