.cont {
  width: 100%;
  overflow-x: hidden;
}

.login-img {
  width: 100%;
  height: 100% !important;
  object-fit: cover;
}

.alert-cont {
  width: 100%;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
}

.arrow {
  padding: 40px 40px 0 !important;
}

@media (max-width: 576px) {
  .login-img {
    display: none;
  }
}

@media (min-width: 576px) {
  .arrow {
    display: none;
  }
}

@media (min-height: 576px) {
  .cont {
    overflow-y: hidden;
    height: 100vh;
  }
}
