.card-product {
    /* min-width: 120px; */
    min-width: 100% !important;
    max-width: 270px !important;
    height: 100%;
    background-color: #ffffff;
    /* max-height: 270px; */
    padding: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.card-product:hover {
    transform: scale(1.075);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}

.img-container {
    width: 100%;
    height: 130px;
    border-radius: 6px;
    object-fit: cover;
}

.liked-by {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -32px;
    left: 5px;
    margin-bottom: -32px;
    width: fit-content;
    background-color: white;
    border-radius: 50px;
    padding: 0px 5px;
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.button-action {
    display: flex !important;
}

.transaction-product-button {
    width: 100%;
    min-height: 40px;
    height: fit-content;
    border: 2px solid #334af6;
    background-color: #ffffff;
    color: #334af6;
    border-radius: 4px;
    margin-right: 5px;
}

.edit-product-button {
    width: 100%;
    height: 40px;
    border: 2px solid #f6a833;
    background-color: #f6a833;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
}

.delete-product-button {
    height: 40px;
    width: 100%;
    border: 2px solid red;
    background-color: red;
    color: white;
    border-radius: 4px;
}

.cancel-product-button {
    height: 40px;
    width: 100%;
    border: none;
    background-color: transparent;
    color: black;
    border-radius: 4px;
}

.edit-product-button:hover {
    border: 2px solid #f6a833;
    background-color: white;
    color: #f6a833;
}

.delete-product-button:hover {
    border: 2px solid red;
    background-color: white;
    color: red;
}

.cancel-product-button:hover {
    border: 2px solid #eeeeee;
    background-color: #eeeeee;
}

/* Modal Start */

.modal-centered {
    width: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-style {
    border-radius: 16px !important;
}

/* Modal End */

@media (max-width: 360px) {
    .button-action {
        flex-wrap: wrap !important;
    }

    .edit-product-button {
        margin-right: 0px;
    }
}