.btn-add-product {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    background-color: #7126B5;
    color: #ffffff;
    width: fit-content;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 12px;
    box-shadow: -1px 54px 180px -31px rgba(0,0,0,0.65);
    -webkit-box-shadow: -1px 54px 180px -31px rgba(0,0,0,0.65);
    -moz-box-shadow: -1px 54px 180px -31px rgba(0,0,0,0.65);
}

.btn-add-product:hover {
    background-color: #7026b5c2;
    color: #ffffff;
}
