/* Overwriting Radio Buttons Group Style */
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .show>.btn-primary.dropdown-toggle {
    color: #ffffff !important;
    background-color: #f6a833 !important;
    border-color: #f6a833 !important;
    /* box-shadow: 0px 0px 5px rgb(0 0 0 / 40%) !important; */
}

/* Overwriting Input Radio Style */
.form-check-input:checked {
    background-color: #f6a833 !important;
    border-color: #f6a833 !important;
}

a {
    color: inherit !important;
    text-decoration: inherit !important;
}

.alert-dismissible .btn-close {
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}