/* Overwriting Radio Buttons Group Style */
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .show>.btn-primary.dropdown-toggle {
    color: #ffffff !important;
    background-color: #7126B5 !important;
    border-color: #7126B5 !important;
}

/* Overwriting Input Radio Style */
.form-check-input:checked {
    background-color: #7126B5 !important;
    border-color: #7126B5 !important;
}

a {
    color: inherit !important;
    text-decoration: inherit !important;
}