.swipper {
  margin-top: 70px;
}

.swiper-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.center-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #fff;
  padding: 0px 15px;
}

.left-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: 100%;
  color: #fff;
  padding: 0px 15px;
}

.banner-btn {
  box-shadow: 0px 0px 0px 3px #f6a833;
  border: 2px solid #fff;
  background-color: #f6a833;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 5px 20px;
  width: fit-content;
}

@media (max-width: 780px) {
  .swipper {
    margin-top: 0px !important;
  }
}